* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: #030d17 url(../img/bg.png) no-repeat;
  background-size: cover;
}
.re-container {
  height: 100%;
  position: relative;
}
.re-timing {
  background: url(../img/number-t.png) no-repeat;
  background-size: cover;
  display: block;
  float: left;
  width: 0.24rem;
  height: 0.346667rem;
}
.re-timing_0 {
  background-position: 0 0;
}
.re-timing_1 {
  background-position: -0.24rem 0;
}
.re-timing_2 {
  background-position: -0.48rem 0;
}
.re-timing_3 {
  background-position: -0.72rem 0;
}
.re-timing_4 {
  background-position: -0.96rem 0;
}
.re-timing_5 {
  background-position: -1.2rem 0;
}
.re-timing_6 {
  background-position: -1.44rem 0;
}
.re-timing_7 {
  background-position: -1.68rem 0;
}
.re-timing_8 {
  background-position: -1.92rem 0;
}
.re-timing_9 {
  background-position: -2.16rem 0;
}
.re-timing_s {
  background-position: -2.4rem 0;
}
.re-number {
  background: url(../img/number.png) no-repeat;
  background-size: cover;
  display: block;
  float: left;
  width: 0.466667rem;
  height: 0.68rem;
}
.re-number_0 {
  background-position: 0 0;
}
.re-number_1 {
  background-position: -0.466667rem 0;
}
.re-number_2 {
  background-position: -0.933333rem 0;
}
.re-number_3 {
  background-position: -1.4rem 0;
}
.re-number_4 {
  background-position: -1.866667rem 0;
}
.re-number_5 {
  background-position: -2.333333rem 0;
}
.re-number_6 {
  background-position: -2.8rem 0;
}
.re-number_7 {
  background-position: -3.266667rem 0;
}
.re-number_8 {
  background-position: -3.733333rem 0;
}
.re-number_9 {
  background-position: -4.2rem 0;
}
.re-number_s {
  background-position: -4.666667rem 0;
}
.re-foot {
  display: none;
  position: absolute;
  width: 100%;
  top: 1.733333rem;
  height: 2.226667rem;
}
.re-foot_btn {
  background: url(../../img/run/foot.png) no-repeat;
  background-size: cover;
  width: 1.52rem;
  height: 2.226667rem;
  position: absolute;
}
.re-foot_btn:active {
  margin-left: 3px;
  margin-top: 3px;
}
.re-foot_left {
  left: 2.533333rem;
  background-position: 0 0;
}
.re-foot_right {
  right: 2.533333rem;
  background-position: -1.52rem 0;
}
.re-spaceman {
  background: url(../../img/run/spaceman.png) no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2.933333rem;
  width: 3.6rem;
  height: 4.133333rem;
  overflow: hidden;
}
.re-spaceman_left {
  background-position: -3.6rem 0;
}
.re-spaceman_right {
  background-position: -7.2rem 0;
}
.re-title {
  position: absolute;
  top: 1.333333rem;
  width: 5.586667rem;
  height: 0.613333rem;
  left: 50%;
  margin-left: -2.793333rem;
  display: none;
  background: url(../img/title.png) no-repeat 0 0;
  background-size: cover;
}
.re-intro,
.re-energy,
.re-complete {
  position: absolute;
  top: 2.4rem;
  width: 8.4rem;
  height: 3.306667rem;
  left: 50%;
  margin-left: -4.2rem;
  display: none;
  background: url(../../img/run/panel.png) no-repeat 0 0;
  background-size: cover;
}
.re-intro_text {
  position: absolute;
  top: 0.96rem;
  width: 4.32rem;
  height: 1.4rem;
  left: 50%;
  margin-left: -2.16rem;
  background: url(../img/intro.png) no-repeat 0 0;
  background-size: cover;
}
.re-countdown {
  position: absolute;
  top: 1.333333rem;
  width: 4.626667rem;
  height: 4.64rem;
  left: 50%;
  margin-left: -2.313333rem;
  display: none;
  background: url(../../img/run/countdown.png) no-repeat 0 0;
  background-size: cover;
}
.re-energy_label-lastime {
  position: absolute;
  left: 0.853333rem;
  top: 0.853333rem;
  width: 1.92rem;
  height: 0.373333rem;
  background: url(../img/energy-label-lastime.png) no-repeat;
  background-size: cover;
}
.re-energy_label-score {
  position: absolute;
  left: 5.013333rem;
  top: 0.853333rem;
  width: 1.92rem;
  height: 0.373333rem;
  background: url(../img/energy-label-score.png) no-repeat;
  background-size: cover;
}
.re-energy_unit-lastime {
  position: absolute;
  left: 2.093333rem;
  top: 2.08rem;
  width: 0.48rem;
  height: 0.373333rem;
  background: url(../img/energy-unit-lastime.png) no-repeat;
  background-size: cover;
}
.re-energy_unit-score {
  position: absolute;
  left: 7.066667rem;
  top: 2.08rem;
  width: 0.48rem;
  height: 0.373333rem;
  background: url(../img/energy-unit-score.png) no-repeat;
  background-size: cover;
}
.re-energy_timing {
  position: absolute;
  right: 6.4rem;
  top: 1.76rem;
}
.re-energy_timing .re-number {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}
.re-energy_mileage {
  position: absolute;
  left: 4.266667rem;
  top: 1.76rem;
}
.re-energy_mileage .re-number {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}
.re-complete_title {
  position: absolute;
  top: 0.853333rem;
  width: 6.72rem;
  height: 0.413333rem;
  left: 50%;
  margin-left: -3.36rem;
  background: url(../img/complete-title.png) no-repeat 0 0;
  background-size: cover;
}
.re-complete_unit {
  position: absolute;
  left: 5.293333rem;
  top: 2.08rem;
  width: 0.48rem;
  height: 0.373333rem;
  background: url(../img/energy-unit-score.png) no-repeat;
  background-size: cover;
}
.re-complete_score {
  left: 2.506667rem;
  top: 1.813333rem;
  position: absolute;
}
.re-complete_score .re-number {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}
.re-moon {
  background: url(../../img/run/moon.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 5.653333rem;
  position: absolute;
  bottom: 0;
}
.re-moon_1 {
  background-position: center -7.413333rem;
}
.re-start {
  display: none;
  background: url(../../img/run/btn-start.png) no-repeat top center;
  background-size: cover;
  position: absolute;
  top: 2.573333rem;
  width: 7.706667rem;
  height: 1.813333rem;
  left: 50%;
  margin-left: -3.853333rem;
}
.re-step_1 .re-intro,
.re-step_1 .re-title,
.re-step_1 .re-start {
  display: block;
}
.re-step_2 .re-countdown {
  display: block;
}
.re-step_3 .re-countdown {
  display: block;
  background-position: -4.626667rem 0;
}
.re-step_4 .re-countdown {
  display: block;
  background-position: -9.253333rem 0;
}
.re-step_5 .re-title,
.re-step_5 .re-foot,
.re-step_5 .re-energy {
  display: block;
}
.re-step_6 .re-title,
.re-step_6 .re-complete {
  display: block;
}
