* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: #030d17 url(../img/bg.png) no-repeat;
  background-size: cover;
}
.re-container {
  height: 100%;
  position: relative;
  padding-top: 1.333333rem;
}
.re-title {
  position: absolute;
  top: 1.066667rem;
  background: url(../img/title.png) no-repeat 0 0;
  background-size: cover;
  width: 7.106667rem;
  height: 0.613333rem;
  left: 50%;
  margin-left: -3.553333rem;
}
.re-intro {
  display: none;
  position: absolute;
  top: 2.4rem;
  background: url(../img/intro.png) no-repeat 0 0;
  background-size: cover;
  width: 8.4rem;
  height: 3.306667rem;
  left: 50%;
  margin-left: -4.2rem;
}
.re-countdown {
  display: none;
  position: absolute;
  top: 2.133333rem;
  background: url(../img/countdown.png) no-repeat 0 0;
  background-size: cover;
  width: 4.626667rem;
  height: 4.64rem;
  left: 50%;
  margin-left: -2.313333rem;
}
.re-energy {
  display: none;
  width: 8.693333rem;
  height: 1.653333rem;
  background: url(../img/energy-bg.png) no-repeat;
  background-size: cover;
  top: 2.4rem;
  position: absolute;
  left: 50%;
  margin-left: -4.346667rem;
}
.re-energy_back,
.re-energy_fore {
  position: absolute;
  left: 0.36rem;
  top: 0.16rem;
  width: 7.973333rem;
  height: 1.333333rem;
  background: no-repeat 0 0;
  background-size: contain;
}
.re-energy_back {
  background-image: url(../img/energy-back.png);
}
.re-energy_fore {
  z-index: 1;
  background-image: url(../img/energy-fore.png);
  background-position: -8rem 0;
}
.re-moon {
  background: url(../img/moon.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 5.653333rem;
  position: absolute;
  bottom: 0;
}
.re-moon_1 {
  background-position: center -7.413333rem;
}
.re-start {
  display: none;
  background: url(../img/btn-start.png) no-repeat top center;
  background-size: cover;
  width: 7.706667rem;
  height: 1.813333rem;
  position: absolute;
  top: 2.573333rem;
  left: 50%;
  margin-left: -3.853333rem;
}
.re-start:focus,
.re-start:active {
  background-image: url(../img/btn-start-active.png);
}
.re-spaceman {
  background: url(../img/spaceman.png) no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2.933333rem;
  width: 3.6rem;
  height: 4.133333rem;
  overflow: hidden;
}
.re-spaceman_left {
  background-position: -3.6rem 0;
}
.re-spaceman_right {
  background-position: -7.2rem 0;
}
.re-foot {
  display: none;
  position: absolute;
  width: 100%;
  top: 1.733333rem;
  height: 2.226667rem;
}
.re-foot_btn {
  background: url(../img/foot.png) no-repeat;
  background-size: cover;
  width: 1.52rem;
  height: 2.226667rem;
  position: absolute;
}
.re-foot_btn:active {
  margin-left: 3px;
  margin-top: 3px;
}
.re-foot_left {
  left: 2.533333rem;
  background-position: 0 0;
}
.re-foot_right {
  right: 2.533333rem;
  background-position: -1.52rem 0;
}
.re-complete {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  -webkit-transition: top 500ms;
  transition: top 500ms;
}
.re-complete_title {
  background: url(../img/complete-title.png) no-repeat;
  background-size: cover;
  width: 5.986667rem;
  height: 1.72rem;
  position: absolute;
  top: 2.533333rem;
  left: 50%;
  margin-left: -2.993333rem;
}
.re-complete_fireworks {
  background: url(../img/fireworks.png) no-repeat;
  background-size: cover;
  width: 6.946667rem;
  height: 9.56rem;
  margin-top: 0.4rem;
  margin-left: auto;
  margin-right: auto;
}
.re-complete_mask {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}
.re-submit {
  background: url(../img/btn-submit.png) no-repeat top center;
  background-size: cover;
  width: 7.693333rem;
  height: 1.813333rem;
  position: absolute;
  bottom: 2.666667rem;
  left: 50%;
  margin-left: -3.846667rem;
}
.re-submit:focus,
.re-submit:active {
  background-image: url(../img/btn-submit-active.png);
}
.re-step_1 .re-start,
.re-step_1 .re-intro {
  display: block;
}
.re-step_2 .re-countdown {
  display: block;
}
.re-step_3 .re-countdown {
  display: block;
  background-position: -4.626667rem 0;
}
.re-step_4 .re-countdown {
  display: block;
  background-position: -9.253333rem 0;
}
.re-step_5 .re-foot,
.re-step_5 .re-energy {
  display: block;
}
.re-step_6 .re-complete {
  top: 0;
}
.re-step_6 .re-complete_mask {
  display: block;
}
