[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=2

[{*.aspx,*.sht,*.tmpl,*.master,*.htm,*.hjs,*.html,*.shtm,*.shtml,*.ng}]
indent_style=space
indent_size=2

[{form,.babelrc,.stylelintrc,.eslintrc,.csslintrc,.tsdrc,*.bowerrc,*.jsb3,*.jsb2,*.map,*.babelrc,*.json}]
indent_style=space
indent_size=2

[{*.ts,*.ats,*.tsx}]
indent_style=space
indent_size=2

[{common.less,*.java,*.overrides,*.config,*.variables,*.less}]
indent_style=space
indent_size=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

