@import "less/functions";
@import "common";
@import "less/run/foot";
@import "less/run/spaceman";

.re-title {
  .panel(80; 533; 46);
  background: url(../img/title.png) no-repeat 0 0;
  background-size: cover;
}
.re-intro {
  .panel(180; 630; 248);
  display: none;
  background: url(../img/intro.png) no-repeat 0 0;
  background-size: cover;
}
.re-countdown {
  .panel(160; 347; 348);
  display: none;
  background: url(../../img/run/countdown.png) no-repeat 0 0;
  background-size: cover;
}
.re-energy {
  .panel(180; 652; 124);
  display: none;
  background: url(../img/energy-bg.png) no-repeat;
  background-size: cover;
}
.re-energy_back,
.re-energy_fore {
  .absolute(27; 12; 598; 100);
  background: no-repeat 0 0;
  background-size: contain;
}
.re-energy_back {
  background-image: url(../img/energy-back.png);
}
.re-energy_fore {
  z-index: 1;
  background-image: url(../img/energy-fore.png);
  background-position: rem(-600) 0;
}
.re-moon {
  background: url(../../img/run/moon.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: rem(774-130-220);
  position: absolute;
  bottom: 0;
}
.re-moon_1 {
  background-position: center rem(-556);
}
.re-start {
  .panel(413-220; 578; 136);
  display: none;
  background: url(../../img/run/btn-start.png) no-repeat top center;
  background-size: cover;
  &:focus,
  &:active {
    background-image: url(../../img/run/btn-start-active.png);
  }
}
.re-spaceman {
  background: url(../../img/run/spaceman.png) no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(-220);
  width: rem(270);
  height: rem(310);
  overflow: hidden;
}
.re-spaceman_left {
  background-position: rem(-270) 0;
}
.re-spaceman_right {
  background-position: rem(-270*2) 0;
}

.re-complete {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  transition: top 500ms;
}
.re-complete_title {
  background: url(../img/complete-title.png) no-repeat;
  background-size: cover;
  .panel(190; 449; 129);
}
.re-complete_fireworks {
  background: url(../img/fireworks.png) no-repeat;
  background-size: cover;
  width: rem(521);
  height: rem(717);
  margin-top: rem(30);
  margin-left: auto;
  margin-right: auto;
}
.re-complete_mask {
  display: none;
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}
.re-submit {
  background: url(../img/btn-submit.png) no-repeat top center;
  background-size: cover;
  .panel(200; 577; 136);
  &:focus,
  &:active {
    background-image: url(../img/btn-submit-active.png);
  }
}
.re-step_1 {
  .re-start,
  .re-intro { display: block; }
}
.re-step_2 {
  .re-countdown { display: block; }
}
.re-step_3 {
  .re-countdown { display: block; background-position: rem(-347) 0; }
}
.re-step_4 {
  .re-countdown { display: block; background-position: rem(-347*2) 0; }
}
//.re-step_6,
.re-step_5 {
  .re-foot,
  .re-energy { display: block; }
}
.re-step_6 {
  .re-complete {
    top: 0;
  }
  .re-complete_mask {
    display: block;
  }
}